<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!--    <link rel="stylesheet" type="text/css" href="../static/css/style.css">-->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Nunito'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto'>

    <script type="text/javascript" th:src="@{/javascript/script.js}" th:inline="javascript"></script>
<!--    <script type="text/javascript" src="../static/javascript/script.js"></script>-->

    <title>Export PostgreSQL</title>
</head>
<body onload="onload();">
    <div id="wrapper">
        <!-- Sidebar Desktop Navigation -->
        <nav class="navbar fixed-top" id="sidebar-wrapper">
            <div class="sidebar-brand mx-auto">
                <img th:src="@{/images/application-logo.svg}" alt="Logo aplikasi" class="mr-2">
<!--                <img src="../static/images/application-logo.svg" alt="Logo aplikasi" class="mr-2">-->
            </div>
            <ul class="nav sidebar-nav">
                <li class="nav-item py-2">
                    <a href="/">
                        <img th:src="@{/images/dashboard-logo.svg}" alt="Logo dashboard" class="mr-2">
<!--                        <img src="../static/images/dashboard-logo.svg" alt="Logo dashboard" class="mr-2">-->
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item py-2">
                    <a href="/">
                        <img th:src="@{/images/export-logo.svg}" alt="Logo export laporan" class="mr-2">
<!--                        <img src="../static/images/export-logo.svg" alt="Logo export laporan" class="mr-2">-->
                        <span>Export Laporan</span>
                    </a>
                </li>
            </ul>
        </nav>

        <nav class="navbar fixed-top" id="navbar-wrapper">
            <div class="navbar-brand">
                <img th:src="@{/images/application-logo.svg}" alt="Logo aplikasi" class="w-100 my-auto">
<!--                <img src="../static/images/application-logo.svg" alt="Logo aplikasi" class="w-100 my-auto">-->
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container-fluid px-5 pt-4" id="page-content-wrapper">
            <!-- Page Header -->
            <div class="page-content-header"></div>
            <div class="row first-row-content">

                <!-- Generate Laporan Card -->
                <div class="col-md-6 col-xs-12">
                    <div class="card">
                        <h2 class="card-header">Generate Laporan</h2>
                        <hr class="card-divider mt-2 mb-0 mx-auto">
                        <div class="card-body">
                            <!-- Form Generate Laporan -->
                            <form class="row" id="form-generate-laporan">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Jenis Laporan:</label>
                                        <select class="form-control">
                                            <option value="">SLIK (Sistem Layanan Informasi Keuangan)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-4">
                                    <div class="form-group">
                                        <label>Tahun Laporan:</label>
                                        <select class="form-control form-tahun">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-4">
                                    <div class="form-group">
                                        <label>Bulan Laporan:</label>
                                        <select class="form-control form-bulan">
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-block d-sm-inline-block"
                                    id="generate-btn"
                                    onclick="getInputForm('form-generate-laporan')">Generate Laporan</button>
                        </div>
                    </div>
                </div>

                <!-- Unduh Laporan Card -->
                <div class="col-md-6 col-xs-12">
                    <div class="card">
                        <h2 class="card-header">Unduh Laporan</h2>
                        <hr class="card-divider mt-2 mb-0 mx-auto">
                        <div class="card-body">
                            <!-- Form Unduh Laporan -->
                            <form class="row" id="form-unduh-laporan">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Pilih Laporan:</label>
                                        <select class="form-control">
                                            <option value="">SLIK F01</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-4">
                                    <div class="form-group">
                                        <label>Tahun Laporan:</label>
                                        <select class="form-control form-tahun">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-4">
                                    <div class="form-group">
                                        <label>Bulan Laporan:</label>
                                        <select class="form-control form-bulan">
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-block d-sm-inline-block"
                                    id="download-btn"
                                    onclick="getInputForm('form-unduh-laporan')">Unduh Laporan</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="dotted-divider my-2 w-100">
            <!-- Cek Laporan Bulanan Card -->
            <div class="card mt-4 cek-laporan-card">
                <h2 class="card-header pl-0">Cek Laporan Bulanan</h2>
                <hr class="card-divider mt-2 mb-0 w-100">
                <div class="row">
                    <!-- Form Cek Laporan Bulanan -->
                    <div class="pr-4 mr-4 form-cek-laporan">
                        <form class="row mt-3">
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label>Jenis Laporan:</label>
                                    <select class="form-control">
                                        <option value="">SLIK (Sistem Layanan Informasi Keuangan)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-4">
                                <div class="form-group">
                                    <label>Tahun Laporan:</label>
                                    <select class="form-control form-tahun">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-4">
                                <div class="form-group">
                                    <label>Bulan Laporan:</label>
                                    <select class="form-control form-bulan">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- File Container Card -->
                    <div class="col pt-3">
                        <div class="card">
                            <div class="file-container-header d-flex flex-row justify-content-between mb-3">
                                <p class="card-header pl-0 py-auto">Klik untuk mengunduh file</p>
                                <!-- Search Bar -->
                                <div class="input-group my-auto">
                                    <input class="input-control" type="search" placeholder="Cari laporan..."/>
                                    <img th:src="@{/images/search-logo.svg}" alt="Logo pencarian" class="img-fluid h-50">
<!--                                    <img src="../static/images/search-logo.svg" alt="Logo pencarian" class="img-fluid h-50">-->
                                </div>
                            </div>
                            <!-- File Container -->
                            <div class="row card-body" id="file-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--<div class="col-md-3 pl-0">-->
<!--    <div class="file d-flex flex-wrap align-items-center">-->
<!--        &lt;!&ndash;<img th:src="@{/images/file-logo.svg}" alt="Logo file">&ndash;&gt;-->
<!--        <img src="../static/images/file-logo.svg" alt="Logo file">-->
<!--        <span>SLIK_F01_202111</span>-->
<!--    </div>-->
<!--</div>-->

<!--            <div class="page-content-header">-->
<!--                <h1 class="h3 mb-0">KTR Transformation</h1>-->
<!--                <button class="btn btn-primary d-sm-inline-block"-->
<!--                        onclick="window.location.href='/runTransformation';">Run Transformation</button>-->
<!--            </div>-->